:root {
  --primaryColor: #35ace0;
  --secondaryColor: #31afb9;
  --thirdColor: #f7e5c5;
}

.app{
  /* background-color: rgba(247, 229, 197, .2); */
  overflow-x: hidden;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar{
  display: none;
  scrollbar-width: none;
  overflow-x: hidden;
  width: 0px;
}

.navbar{
  border: 0px;
  outline: 0px;
  z-index: 100;
}

.relative{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}